<!--=== Block Explorer ===-->
<div class="container content">
  <section>
  <div style="vertical-align:bottom;">
    <span>Units : </span>
    <select onchange="unit = this.options[this.selectedIndex].value; MyBlocks.update_blocks(); MyBlocks.update_txs(); MyBlocks.update_addr_balance();" class="browser-default" id="units" name="units">
      <option value="100000000">ADX</option>
      <option value="100000">mADX</option>
      <option value="100">µADX</option>
    </select>
  </div>
  </section>
  <section id="addrs"></section>
</div>
<!--=== End Block Explorer ===-->

