   <script type="text/javascript">

       function addr_selected(obj) {
               if (has_app_root == 0) {
                   $('#new_app_addr').val(obj.getAttribute('addr'));
               }
       }
   </script>
   <style>
       #new_type input,select{
           display:inline;
       }
       #app_root_infos
       {
           display:none;
       }
       #my_account
       {
           min-width:120px;
       }
       .invisible{
           display:none;
       }
       #newtxid {
           display: 'none';
       }
       #list_container
       {
           display:none;
           max-height:300px;
           width:100%;
           overflow-y:scroll;
           margin:32px;
       }
       .selected {
           background-color: #AAA;
       }

       .tx_error {
           color: #F00;
       }

       .tx_ready {
           color: #0F0;
       }

       .tx_unconf {
           color: #484;
       }
       #addresses
       {
           margin:18px;
       }
       #app_error
       {
           color:red;
       }
       .type_div input{
           display:inline;
           width:80px;
       }

       .objid
       {
           cursor:pointer;
           font-weight:bold;
           color:green;
       }
   </style>
<div class="content">
    <section>
        <div id="addresses"></div>
    </section>
    <hr />

    <div class="container">
        <div class="card">
            <div class="card-header"><h2>Application root</h2></div>
            <div class="card-body">
                <div id="app_root_infos"></div>
                <div id="app_root_error">no application root set</div>
            </div>
        </div>
    </div>
    <hr />
    <section>
        <div id="app_infos">

            <div class="container">
                <div id="app_hdr"></div>
                <ul class="nav nav-tabs nav-justified" id="apptabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#app_type_div" role="tab">Types</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#app_file_div" role="tab">Files</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#app_layout_div" role="tab">Layouts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#app_mod_div" role="tab">Modules</a>
                    </li>
                </ul>
                <div id="app"></div>
            </div>
        </div>
    </section>
    <hr/>
    <section>
        <div class="container">
            <div class="card">
                <div class="card-header"><h2>Transaction</h2></div>
                <div class="card-body">
                    <div id="app_error">application&nbsp;<span id="app_name"></span>&nbsp;not found</div>
                    <div class="row">
                        <div class="col-md-2"><label>Transaction fees</label></div><div class="col-md-2"><input type="text" name="paytxfee" id="paytxfee" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Selected addrs:</label></div><div class="col-md-2"><span id="selected_balance"></span></div>
                    </div>
                    <div class="row">
                        <div id="div_newtxid" class="col-md-6">new tx id : <span id="newtxid"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><div id="type_tx"></div></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><input type="button" onclick=" signtxinputs(my_tx.txid, my_tx.txsin);" value="sign &amp; send" /></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>