   <script type="text/javascript">

       function select_addr(obj) {
           if (has_app_root == 0) {
               $('#new_app_addr').val($(obj).attr('addr'));
           }
       }
   </script>
   <style>
       #app_root_infos
       {
           display:none;
       }
       #my_account
       {
           min-width:120px;
       }
       #list_container
       {
           max-height:300px;
           width:100%;
           overflow-y:scroll;
           margin:32px;
       }
       #addresses
       {
           margin:18px;
       }
       #app_error
       {
           color:red;
       }
   </style>

    <div class="content">
    <section>
        <h2>Addresses</h2>
        <div id="addresses"></div>
    </section>
    <section>
        <h2>Transactions</h2>
        <div id="list_container"></div>
    </section>
    <hr />
    <div id="app_root_infos"></div>
    <div id="app_list"></div>

    <section>
        <h2>New application</h2>
        <div id="new_app" class="container">
            <form name="new app">
                <fieldset>
                    <legend>Application infos</legend>
                    <div class="row">  <div class="col-md-4"><span id="app_error"></span></div></div>
                    <div class="row">
                        <div class="col-md-2"><label>Application name</label></div><div class="col-md-2"><input type="text" id="app_name" name="app_name" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Application address</label></div><div class="col-md-2"><select name="app_addr" id="app_addr"></select></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Application fees</label></div><div class="col-md-2"><span id="root_app_fees"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Transaction fees</label></div><div class="col-md-2"><input type="text" name="paytxfee" id="paytxfee" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Total fees</label></div><div class="col-md-2"><span id="totalfee"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Selected addrs:</label></div><div class="col-md-2"><span id="selected_balance"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><input type="button" value="create app" onclick="MyApps.create_app($('#app_addr').val(), $('#app_name').val(), $('#paytxfee').val());" /></div>
                    </div>
                </fieldset>
            </form>
            <div class="row">
                <div class="col-md-6"><div id="app_tx"></div></div>
            </div>
            <div class="row">
                <div class="col-md-6"><input type="button" onclick=" signtxinputs(my_tx.txid, my_tx.txsin);" value="sign & send" /></div>
            </div>
        </div>
    </section>

    <div id="app_root_new"></div>
</div>
