<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="/nodix.site/">
        <img src="/assets/img/logo_single.png" width="30" height="30" class="d-inline-block align-top" alt="Nodix Brand">
        Nodix
    </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container" id="apiKeys">
       
        <div class="row"><div class="col-sm-3"> <i class="fa fa-lock"></i>node pubkey</div><div class="col-sm-4" id="nodePubKey-nav"></div></div>
        <div class="row"><div class="col-sm-3"> <i class="fa fa-lock"></i>my pubkey</div><div class="col-sm-4" id="myPubKey-nav"></div></div>
    </div>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li id="menu_node" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Node</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/nodix.site/index">Home</a>
                    <a class="dropdown-item" href="/nodix.site/services">Service</a>
                    <a class="dropdown-item" href="/nodix.site/applications">Applications</a>
                </div>
            </li>
            <li id="menu_wallet" class="nav-item">
                <a class="nav-link" href="/nodix.site/wallet">Wallet</a>
            </li>

            <li id="menu_blocks" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Block explorer</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/nodix.site/blocks">Blocks</a>
                    <a class="dropdown-item" href="/nodix.site/address">Address</a>
                    <a class="dropdown-item" href="/nodix.site/block">block</a>
                    <a class="dropdown-item" href="/nodix.site/tx">Transaction</a>
                </div>
            </li>

            <li id="menu_apps" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Demo App</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/app/NodixSite/page/index.site/index">nodix website</a>
                    <a class="dropdown-item" href="/app/raytrace/page/raytrace.site/index">raytracing</a>
                    <a class="dropdown-item" href="/app/blog/page/blog.site/index">blog</a>
                    <a class="dropdown-item" href="/app/Cards/page/cards.site/index">Cards</a>
                </div>
            </li>
        </ul>

    </div>


</nav>


<br />
<br />
<br />
<br />
