<style type="text/css">
    #list_table td {
        vertical-align: top;
    }
    #newtxid
    {
        display:'none';
    }
    
    .selected {
        background-color: #AAA;
    }

    .tx_error {
        color: #F00;
    }

    .tx_ready {
        color: #0F0;
    }

    .tx_unconf {
        color: #484;
    }
</style>

<script language="javascript">
    var unit = 1;
   
    function update_unit(select_obj)
    {
        var amount = parseFloat($('#amount').val()) * unit;

        unit = select_obj.options[select_obj.selectedIndex].value;
        $('.coin_unit').html(select_obj.options[select_obj.selectedIndex].text + ' / ' + '&nbsp;' + get_amount_coin(unit));

        MyAccount.update_unspent    ();
        MyAccount.update_addrs      ();

        if(my_tx!=null)
            $('#newtx').html(get_tmp_tx_html(my_tx));
        else
            $('#newtx').html('');

        $('#amount').val(amount / unit);
    }

    </script>
    <div class="container">
        <div class="row">
        <div class="col-sm-1"><label>Units</label></div>
        <div class="col-md-2">
            <select style="max-width:120px;" onchange="update_unit(this)" id="units" name="units">
                <option value="100000000">coin</option>
                <option value="1000000">cents</option>
                <option value="1">satoshis</option>
            </select>
        </div>
        </div>
    </div>

    <section>
        <h2 class="heading-md">Select your account</h2>
        <div id="account_list"></div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-2">send : <br /><input name="amount" id="amount" type="text" /> </div>
            <div class="col-md-2"><br /><span class="coin_unit"></span></div>
            <div class="col-md-2">tx fee : <input name="paytxfee" id="paytxfee" type="text" /> </div>
            <div class="col-md-2">to : <input type="text" id="dstAddr" name="dstAddr" /> </div>
            <div class="col-md-2"><input type="button" value="view tx" onclick=" maketxfrom(MyAccount.getSelectedAddrs(), Math.ceil( (parseFloat($('#amount').val())*unit)), $('#dstAddr').val());" /></div>
        </div>
        <div class="row">
            <div class="col-md-6">Selected balance : <div id="selected_balance"></div></div>
        </div>
        <div class="row">
            <div id="div_newtxid" class="col-md-6">new tx id : <span id="newtxid"></span></div>
        </div>
        <div class="row">
            <div class="col-md-6"><div id="newtx"></div><input id="sendtx_but" type="button" disabled="disabled" onclick=" signtxinputs(my_tx.txid, my_tx.txsin);" value="sign & send" /></div>
        </div>
    </div>

    <section>
        <div id="my_wallet"></div>
    </section>

