<!--=== Block Explorer ===-->
<div class="container content">
    <section>
        <div class="row">
            <div class="col-md-9">
                <h2>block explorer</h2>
                <div style="vertical-align:bottom;">
                    <span>Units : </span>
                    <select onchange="unit = this.options[this.selectedIndex].value; MyBlocks.update_tx();" id="units" name="units">
                        <option value="100000000">ADX</option>
                        <option value="100000">mADX</option>
                        <option value="100">µADX</option>
                    </select>
                </div>
            </div>
        </div>
    </section>
    <section id="txPanel"></section>
</div>
<!--=== End Block Explorer ===-->
</div>
<!--/wrapper-->
