<style>
    .selected{
        background-color:#AAA;
    }
    .tx_error {
        color: #F00;
    }
    .tx_ready {
        color: #0F0;
    }

    .tx_unconf {
        color: #484;
    }
    .accnt_pw
    {
        display:none;
    }
    #anon_wallet
    {
        display:none;
    }
    #transaction
    {
        display:none;
    }
    @media only screen and (max-width: 1024px) {
        .tx-cell {
            max-width: 0px;
            display: none;
        }
        .table td, .table th {
            padding: 0px;
        }
        .addr-cell
        {
            font-size:0.8em;
        }
    }

     @media only screen and (max-width: 1280px) {
        .table td, .table th {
            padding: 4px;
        }
         .addr-cell, .tx-cell {
            font-size:0.8em;
        }
    }
}
</style>
<script>
    var unit = 1;

    function update_unit(select_obj) {
        var amount = parseFloat($('#amount').val()) * unit;

        unit = select_obj.options[select_obj.selectedIndex].value;

        $('.coin_unit').html(select_obj.options[select_obj.selectedIndex].text + ' / ' + '&nbsp;' + get_amount_coin(unit));

        MyAccount.update_addrs();
        MyAccount.update_txs();
        MyAccount.update_unspent();
        MyAccount.update_addrs();

        if (my_tx != null)
            $('#newtx').html(get_tmp_tx_html(my_tx));
        else
            $('#newtx').html('');

        if (!isNaN(amount))
            $('#amount').val(amount / unit);
    }

    function do_tx() {

        var amount = Math.ceil((parseFloat($('#amount').val()) * unit));
        var fee = Math.ceil((parseFloat($('#paytxfee').val()) * unit));
        var dstAddr = $('#dstAddr').val();

        MyAccount.maketx(amount, fee, dstAddr);

    }
</script>

<div class="container content">
    <section>
        <div class="row">
            <div class="col-md-2"><label>Units</label></div>
            <div class="col-md-2">

                <select onchange="update_unit(this);" class="browser-default" id="units" name="units">
                    <option value="100000000">ADX</option>
                    <option value="1000000">cents</option>
                    <option value="1">satoshis</option>
                </select>
            </div>
        </div>
    </section>
</div>
    
    <section>
        <div class="container content">
            <div class="card" id="anon_wallet">
                <div class="card-header  pt-3 aqua-gradient">
                    <h3 class="white-text mb-3 pt-3 font-weight-bold">Anonymous wallet</h3>
                </div>
                <div class="card-body px-lg-5 pt-0">
                    <div class="md-form">
                        <input type="password" id="anon_pw" class="form-control" />
                        <label for="anon_pw">password </label>
                    </div>
                    <div class="md-form">
                        <input type="text" id="anon_timeout" value="1800" class="form-control" />
                        <label for="anon_timeout">timeout</label>
                    </div>
                    <button type="button" class="btn btn-primary waves-effect waves-light" onclick="set_anon_pw($('#anon_pw').val(), parseInt($('#anon_timeout').val()));">set passphrase</button>
                    <span id="anon_pw_ok"></span>
                    <span id="anon_pw_error"></span>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container content">
            <div id="account_list"></div>
        </div>
    </section>
    <section id="transaction">
        <div class="container content">
            <div class="card">
                <div class="card-header pt-3 aqua-gradient"><h3 class="white-text mb-3 pt-3 font-weight-bold">Transaction</h3></div>
                <div class="card-body">
                    <div class="md-form"><input type="text" class="form-control" name="amount" id="amount" /> <label for="amount">send</label><span class="coin_unit"></span></div>
                    <div class="md-form"><input type="text" class="form-control" name="paytxfee" id="paytxfee" /><label for="paytxfee">tx fee</label> </div>
                    <div class="md-form"><input type="text" class="form-control" name="dstAddr" id="dstAddr" /><label for="dstAddr">to</label></div>
                    <div class="col-md"><button id="maketx" type="button" class="btn btn btn-primary" onclick="do_tx();">view tx</button></div>
                    
                    <div class="col-md" id="div_newtxid">new tx id : <span id="newtxid"></span></div>
                    <div class="col-md"><div id="newtx"></div></div>
                    <div class="col-md"><button id="sendtx_but" type="button" class="btn btn btn-primary" disabled="disabled" onclick="signtxinputs(my_tx.txid, my_tx.txsin);" >sign & send</button></div>
             </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div id="my_wallet"></div>
        </div>
    </section>
    <!-- End Wallet-Form -->

<!--/wrapper-->