<style>
    .accnt_pw
    {
        display:none;
    }
    #anon_wallet
    {
        display:none;
    }

    .selected{
        background-color:#AAA;
    }

    .tx_error {
        color: #F00;
    }

    .tx_ready {
        color: #0F0;
    }

    .tx_unconf {
        color: #484;
    }
</style>
<!--=== Wallet ===-->
<div class="container content">
  <section>
  <div class="row">
      <div class="col-md-2"><label>Units</label></div>
      <div class="col-md-2">
          <select onchange="unit = this.options[this.selectedIndex].value; MyAccount.update_addrs(); MyAccount.update_txs();" style="max-width:120px;" id="units" name="units">
              <option value="100000000">ADX</option>
              <option value="1000000">cents</option>
              <option value="1">satoshis</option>
          </select>
      </div>
  </div>
  </section>

   <div id="anon_wallet">
        <section>
            <h2>anonymous wallet passphrase</h2>
            <div id="anon_pw_error"></div>
            <label>password </label><input type="password" id="anon_pw" />
            <label>timeout</label><input type="text" id="anon_timeout" value="1800" />
            <input type="button" onclick="set_anon_pw($('#anon_pw').val(), parseInt($('#anon_timeout').val()));" value="set passphrase" />
            <div id="anon_pw_ok"></div>
        </section>
   </div>
    
  <form class="sky-form" id="sky-form" action="#">
  <!-- Wallet-Form -->
  <section>
      <h2 class="heading-md">Manage your wallet</h2>
      <div id="account_list"></div>

      <div class="container">
          <section>
              <h3 id="unspentaddr"></h3>
              <div class="row">
                  <span id="privAddr"></span><br />
                  enter your secret :<input type="text" id="viewPrivSecret" /><input type="button" onclick="privKeyAddr(MyAccount.accountName, $('#unspentaddr').html(), $('#viewPrivSecret').val());" value="get private addr" />
              </div>
          </section>
      </div>
  </section>

  <section>
      <div id="newaddr">
          <h3>import</h3>
          <input type="button" value="create new" onclick="generateKeys();" />
          <dl class="dl-horizontal">
              <dt>label</dt>
              <dd>
                  <section>
                      <label class="input">
                          <b class="tooltip tooltip-bottom-right">Key label</b>
                          <input size="32" type="text" id="addrlabel" value="" />
                      </label>
                  </section>
              </dd>
              <dt>address</dt>
              <dd>
                  <section>
                      <label class="input state-disabled">
                          <b class="tooltip tooltip-bottom-right">public address</b>
                          <input size="32" type="text" id="pubaddr" value="" disabled="disabled" />
                      </label>
                  </section>
              </dd>
              <dt>privkey</dt>
              <dd>
                  <section>
                      <label class="input">
                          <b class="tooltip tooltip-bottom-right">private key</b>
                          <input size="58" type="text" id="privkey" oninput="newkey(this.value);" value="" /><span style="color:red;" id="prv_key_msg"></span>
                      </label>
                  </section>
              </dd>
              <dt>secret key : </dt>
              <dd>
                  <section>
                      <label class="input">
                          <b class="tooltip tooltip-bottom-right">Do not forget this key, we do not own a copy, it is your responsibility to note it somewhere. <br /> You will not be able to withdraw your coins or make any transaction on our website if you loose it, neither sign bounties & get key your reward !</b>
                          <input type="text" value="" name="imp_key" id="imp_key" /><span style="color:red;" id="imp_key_msg"></span><input type="button" value="import" onclick="MyAccount.import_keys($('#addrlabel').val()); " /><i class="icon-append fa fa-lock"></i>
                          <span>
                              Do not forget this key, we do not own a copy, it is your responsibility to note it somewhere. <br /> You will not be able to withdraw your coins or make any transaction on our website if you loose it, neither sign bounties & get key your reward !
                          </span>
                      </label>
                  </section>
              </dd>
          </dl>
          <br />
      </div>
  </section>
  <section>
      <h2 class="heading-md">Manage your transactions</h2>
      <div id="my_wallet" >
      </div>
  </section>
  <!-- End Wallet-Form -->
</form>
</div>
<!--=== End Wallet ===-->
</div>
<!--/wrapper-->